<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>edu.esprit.eCoffreWeb</display-name>
  <welcome-file-list>
    <welcome-file>accueil.jsf</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/session.jsf</location>
  </error-page>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>FORWARD</dispatcher>
	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Pretty Filter</filter-name>
    <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>Pretty Filter</filter-name>
	<url-pattern>/*</url-pattern>
	<dispatcher>FORWARD</dispatcher>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>bootstrap</param-value>
  </context-param>
  <context-param>
    <param-name>sizeThreshold</param-name>
    <param-value>20000000</param-value>
  </context-param>
  <context-param>
    <param-name>tempDirectory</param-name>
    <param-value>d:/temp</param-value>
  </context-param>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/ws/*</url-pattern>
  </servlet-mapping>
  <context-param>
     <param-name>resteasy.jndi.resources</param-name>
     <param-value>java:global/edu.esprit.eCoffre/edu.esprit.eCoffreEJB/ONManagement!edu.esprit.eCoffreEJB.interfaces.IONLocal
         ,java:global/edu.esprit.eCoffre/edu.esprit.eCoffreEJB/UtilisateurManagement!edu.esprit.eCoffreEJB.interfaces.IUtilisateurLocal
         ,java:global/edu.esprit.eCoffre/edu.esprit.eCoffreEJB/ConteneurManagement!edu.esprit.eCoffreEJB.interfaces.IConteneurLocal
         ,java:global/edu.esprit.eCoffre/edu.esprit.eCoffreEJB/UtiSManagement!edu.esprit.eCoffreEJB.interfaces.IUtiSLocal</param-value>
  </context-param>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <distributable/>
</web-app>